Documentation.rtf
.venv/
nano_dy.root
outputs/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
nano_run_1_939b_old.root
ForCoffeaAnalys.rtf
nanoaodsim_coffea_1.root
.venv_local/
Documentation.rtf
Documentation copy.rtf